<div class="col-md-12">
  <div class="jumbotron">
    <div class="container" id="home">
      <h4>{{welcome}}</h4>

    </div>
  </div>
  <section>
    <article>
      <h1>Welcome, this is grande.js</h1>
      <blockquote>"Make every detail perfect and limit the number of details to perfect." - <span class="jack">Jack Dorsey</span>
      </blockquote>
      <p>Style your text to how you <b>think</b> and put the <i>feeling</i> into your words. Just select any text and choose how you want it to look from the menu.</p>
      <ul>
        <li>Create a bulleted list simply by typing "- " or "* " and h itting enter</li>
      </ul>

      <ol>
        <li>Assign the most important tasks in your day by starting the line with "1. "</li>
        <li>What's on your mind today?</li>
      </ol>
      <hr contenteditable="false">
      <p><i>Two enters</i> to create a divider to separate your content.</p>
      <hr contenteditable="false">
      <p>Let your users express themselves. Take a look at the project on Github <a href="github.com/mduvall/grande.js">here</a>.</p>
    </article>
  </section>
</div>
